.list-group-item {
    width: 100px;
    height: 100px;
    background: red;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

.list-group-item:hover {
  visibility:hidden;
  display:none;
  opacity:0;

}
